@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.card-header:empty,
.card-footer:empty {
    display: none;
}

.card {
    min-width: 220px;
      
    @include media-breakpoint-down(sm) {
        min-width: unset;
    }
}

h6 {
    margin-bottom: 0;
}