<div class="d-flex flex-wrap gap-3">
    <custom-card headerTitle="BY YEAR">
        <div card-body>No data.</div>
    </custom-card>

    <custom-card headerTitle="BY BRAND/MODEL">
        <div card-body>No data. No data.</div>
    </custom-card>

    <custom-card>
        <div card-body>test</div>
    </custom-card>

    <custom-card>
        <div card-body>test</div>
    </custom-card>

    <custom-card 
        headerTitle="VEHICLES" 
        [noPaddingBody]="true" 
        class="w-100"
    >
        <vehicles-table card-body [data$]="vehicles$"></vehicles-table> 
    </custom-card>
    

    <custom-card>
        <div card-body>test</div>
    </custom-card>

    <custom-card>
        <div card-body>test</div>
    </custom-card>

    <button (click)="test()">test</button>
    <button (click)="addVehicle()">add</button>
</div>
