<div class="d-flex align-items-center gap-2 h-100">
    <button 
        type="button" 
        class="btn btn-sm btn-outline-secondary"
        bsTooltip
        data-bs-toggle="tooltip"
        data-bs-placement="left" 
        data-bs-original-title="Edit"
    >
        <i class="bi bi-pencil-fill"></i>
    </button>
    <button 
        type="button" 
        class="btn btn-sm btn-outline-danger"
        bsTooltip
        data-bs-toggle="tooltip"
        data-bs-placement="right" 
        data-bs-original-title="Remove"
    >
        <i class="bi bi-x-lg"></i>
    </button>
</div>