/* You can add global styles to this file, and also import other style files */

// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

// AG Grid
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";

// Custom
.no-border .ag-root-wrapper {
    border: none;
    border-radius: 0;
    border-bottom-right-radius: var(--bs-card-border-radius);
    border-bottom-left-radius: var(--bs-card-border-radius);

    // border-bottom-right-radius: var(--ag-wrapper-border-radius);
    // border-bottom-left-radius: var(--ag-wrapper-border-radius);
}